<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Welcome to BNC Bank</title>

<div th:replace="fragments/header :: header-css"></div>
</head>
<body>
	<div th:replace="fragments/header :: header" ></div>
	<h1>BNC Bank welcomes you</h1>
	
	<p>We are proud to serve our customers meeting their need and help reaching their goals by keeping their hard earned dollar safe and help tranfer their money to the close ones when needed to.</p>

	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			
			</tr>
		</thead>
		<tbody>
			<tr th:each="customer : ${customers}">
				<td th:text="${customer.firstName}"></td>
				<td th:text="${customer.lastName}"></td>
				
			</tr>
		</tbody>
	</table>

	<form th:action="@{/register-customer}" method="get">
		<button class="btn btn-danger" name="registration"
			type="Submit">Register Customer</button>
	</form>
	
	<form th:action="@{/openAccountForm}" method="get">
		<button class="btn btn-danger" name="openAccount"
			type="Submit">Open Account</button>
	</form>
	

</body>
</html>